allow hal_graphics_composer_default hal_graphics_composer_default:netlink_kobject_uevent_socket { read create bind setopt };
allow hal_graphics_composer_default servicemanager:binder { call transfer };
allow hal_graphics_composer_default sysfs_graphics:dir search;
allow hal_graphics_composer_default sysfs_graphics:file rw_file_perms;
allow hal_graphics_composer_default sysfs_graphics:lnk_file { read write };
allow hal_graphics_composer_default debugfs_kgsl:dir { search read open };
allow hal_graphics_composer_default debugfs_kgsl:file { read write getattr setattr };
allow hal_graphics_composer_default surfaceflinger_service:service_manager { add find };

# vndbinder
allow hal_graphics_composer_default vndbinder_device:chr_file rw_file_perms;
# vndservicemanager
allow hal_graphics_composer_default vndservicemanager:binder { call transfer };
vndbinder_use(hal_graphics_composer_default);

add_service(hal_graphics_composer_default, qdisplay_service)
