allow hal_contexthub_default sensors_device:chr_file { read write open ioctl };
allow hal_contexthub_default vendor_data_file:dir { search read write add_name create };
allow hal_contexthub_default vendor_data_file:file { read write getattr setattr };
