allow init tmpfs:lnk_file create_file_perms;
# allow: write /sys/bus/msm_subsys/devices/subsys0/restart_level "related"
allow init sysfs_ssr:lnk_file read;
allow init kernel:system { module_request };
allow init sysfs_g_android_param:dir search;
allow init sysfs_g_android_param:file rw_file_perms;
allow init sysfs_backlight:dir search;
allow init sysfs_backlight:file { open read write getattr setattr };
allow init sysfs_lge_handle_panic_param:dir search;
allow init sysfs_lge_handle_panic_param:file rw_file_perms;
allow init sysfs_usb:file { open read write getattr setattr };
#allow init sysfs_mmcblk0:file { read write getattr setattr open };
allow init sysfs_block:dir { search open };
allow init sysfs_block:file { read write open getattr setattr };
allow init sysfs_devices_fingerprint:file { read open write getattr setattr };
allow init sysfs_display:file { read open write getattr setattr open };
allow init sysfs_wlan_fwpath:file { read open write getattr setattr open };
allow init sysfs_power_management:file { read open write getattr setattr open };
allow init sysfs_qpnp_25:file { read open write getattr setattr open };
allow init sysfs_qpnp_25:lnk_file r_file_perms;

# bluetooth permissions grant
allow init sysfs_rfkill0:dir { search read open };
allow init sysfs_rfkill0:file { read open write getattr setattr };
allow init sysfs_rfkill0:lnk_file rw_file_perms;

allow init sysfs:file { setattr getattr };
#allow init sysfs:file write;

allow init sysfs_subsys1:dir { search read open };
allow init sysfs_subsys1:file { read open write getattr setattr };

allow init sysfs_mmcblk0_queue:dir { search read open };
allow init sysfs_mmcblk0_queue:file rw_file_perms;

# kgsl
allow init debugfs_kgsl_proc:dir { search read open relabelfrom };
allow init debugfs_kgsl_proc:file { read write getattr setattr };
