allow netd sysfs_net:dir { search open read };
allow netd sysfs_net:file rw_file_perms;

dontaudit netd self:capability sys_module;
allow netd device:file { open write };
