allowxperm priv_app self:udp_socket ioctl { SIOCGIWESSID };
allow priv_app sysfs_wlan0:dir search;
allow priv_app sysfs_wlan0:file { read open getattr };
allow priv_app sysfs_net:dir search;
allow priv_app sysfs_net:file { read open getattr };
allow priv_app debugfs_kgsl:dir { search read open };
allow priv_app debugfs_kgsl:file { read write getattr setattr };
allow priv_app sysfs_devices_block:dir { search open };
allow priv_app sysfs_devices_block:file { read write open getattr setattr };
allow priv_app sysfs:file { open read getattr };
allow priv_app sysfs:dir open;
allow priv_app proc:file open;
allow priv_app proc_interrupts:file open;
allow priv_app device:dir open;
