type wcnss_service, domain, coredomain,device_domain_deprecated;
type wcnss_service_exec, exec_type, file_type, system_file_type;

init_daemon_domain(wcnss_service)

allow wcnss_service self:netlink_socket rw_socket_perms_no_ioctl;
allow wcnss_service self:socket create_socket_perms;
allowxperm wcnss_service self:socket ioctl msm_sock_ipc_ioctls;
allow wcnss_service proc_net:file w_file_perms;
allow wcnss_service self:netlink_socket create_socket_perms_no_ioctl;
allow wcnss_service smem_log_device:chr_file rw_file_perms;
allow wcnss_service self:capability { setuid net_admin setgid };
allow wcnss_service sysfs:file w_file_perms;
allow wcnss_service sysfs_usb:file w_file_perms;
allow wcnss_service sysfs_net:dir { search };
allow wcnss_service sysfs_ssr:dir { search read open };
allow wcnss_service sysfs_ssr:file rw_file_perms;
allow wcnss_service sysfs_ssr:lnk_file { read open };
allow wcnss_service sysfs_wlan0:dir { search read open };
allow wcnss_service sysfs_wlan0:file rw_file_perms;
allow wcnss_service sysfs_wlan0:lnk_file { read open };

qmux_socket(wcnss_service)
